# - Automatically starts an avalanchego dev shell on entry to the containing directory
# - Requires a recent version of direnv (https://direnv.net/)
# - For quieter direnv output, set `export DIRENV_LOG_FORMAT=`

# Determine AVALANCHE_VERSION
source ./scripts/versions.sh

use flake "github:ava-labs/avalanchego?ref=${AVALANCHE_VERSION}"
