name: Build + test + release

on:
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:

jobs:
  lint_test:
    name: Lint
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v3
      - run: ./scripts/lint_allowed_geth_imports.sh
        shell: bash
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.47
          working-directory: .
          args: --timeout 3m

  unit_test:
    name: Golang Unit Tests v${{ matrix.go }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go: ["1.18"]
        os: [ubuntu-20.04]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
      - run: go mod download
        shell: bash
      - run: ./scripts/build.sh ./build/subnetevm
        shell: bash
      - run: ./scripts/build_test.sh -race
        shell: bash
      - run: ./scripts/coverage.sh
        shell: bash

  solidity_example_contracts_test:
    name: Tests example solidity contracts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      # ref. https://github.com/foundry-rs/foundry-toolchain
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: 1.0.0
      - name: Install dependencies with forge
        run: pushd ./contracts-foundry && forge install && popd
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - name: Install dependencies with go module
        shell: bash
        run: go mod download
      - name: Run e2e tests
        shell: bash
        run: scripts/run.sh

  precompile_upgrade_test:
    name: Test precompile upgrades
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      # ref. https://github.com/foundry-rs/foundry-toolchain
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: 1.0.0
      - name: Install dependencies with forge
        run: pushd ./contracts-foundry && forge install && popd
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - name: Install dependencies with go module
        shell: bash
        run: go mod download
      - name: Run e2e tests
        shell: bash
        run: RUN_PRECOMPILE_UPGRADE=true scripts/run.sh

  simulator_test:
    name: Load testing with simulator
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - name: Install dependencies with go module
        shell: bash
        run: go mod download
      - name: Run simulator tests
        shell: bash
        # skip shutdown so external simulator binary can run against the existing cluster
        run: SKIP_NETWORK_RUNNER_SHUTDOWN=true RUN_SIMULATOR=true scripts/run.sh

  release:
    needs:
      [
        lint_test,
        unit_test,
        solidity_example_contracts_test,
        precompile_upgrade_test,
        simulator_test,
      ]
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist
        env:
          # https://docs.github.com/en/actions/security-guides/automatic-token-authentication#about-the-github_token-secret
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
